.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 24rem;
  padding: 2rem;
  background: var(--gray-800);
  border-radius: 0.75rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  color: var(--yellow-500);
}

.form {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-top: 2rem;

  input {
    padding: 0 1rem;
    height: 3rem;
    border-radius: 0.25rem;

    width: 100%;
    border: 1px solid var(--gray-900);
    background: var(--gray-900);

    font-weight: 400;
    font-size: 1rem;
    color: var(--white);

    &:focus {
      border-color: var(--yellow-500);
    }

    &::placeholder {
      color: var(--text-body);
    }

    & + input {
      margin-top: 1rem;
    }
  }

  button[type="submit"] {
    width: 100%;
    padding: 0 1.5rem;
    height: 4rem;
    background: var(--yellow-800);
    color: var(--shape);
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
    margin-top: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.25rem;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}