* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --green: #00b300;
  --red: #d10000;
  --blue: #4747ff;

  --gray-100: #EDF2F7;
  --gray-300: #CBD5E0;
  --gray-700: #2D3748;
  --gray-800: #1A202C;
  --gray-900: #171923;

  --yellow-500: #eba417;
  --yellow-700: #dd9913;
  --yellow-800: #cf8f12;
}

@media (min-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (min-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--gray-900);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}