.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;

  .back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 8rem;
    height: 3rem;
    background: var(--blue);
    color: var(--shape);
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
    margin: 0 0 1rem 0;
    font-weight: 400;
  
    transition: filter 0.2s;
  
    &:hover {
      filter: brightness(0.8);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65rem;
  
    padding: 2rem;
    background-color: var(--gray-800);
    border-radius: 0.75rem;

    .orientation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .verticalOrientation {
        display: flex;
        flex-direction: column;
        width: 40%;
      }
    }

    label {
      margin-bottom: 0.75rem;
      width: 100%;
      font-size: 1.25rem;
    }

    input[type="text"] {
      padding: 0 1rem;
      height: 3rem;
      border-radius: 0.25rem;
      margin-bottom: 1rem;

      width: 100%;
      border: 1px solid var(--gray-900);
      background: var(--gray-900);

      font-weight: 400;
      font-size: 1rem;
      color: var(--white);

      &:focus {
        border-color: var(--yellow-500);
      }
    }

    input[type="date"] {
      padding: 0 1rem;
      height: 3rem;
      border-radius: 0.25rem;
      margin-bottom: 1rem;

      width: 100%;
      border: 1px solid var(--gray-900);
      background: var(--gray-900);

      font-weight: 400;
      font-size: 1rem;
      color: var(--white);

      &:focus {
        border-color: var(--yellow-500);
      }
    }

    .categories {
      width: 100%;
      padding: 0 1rem;
      height: 3rem;
      margin-bottom: 1rem;

      border: 1px solid var(--gray-900);
      border-radius: 0.25rem;
      background-color: var(--gray-900);

      font-weight: 400;
      font-size: 1rem;
      color: var(--white);

      &:focus {
        border-color: var(--yellow-500);
      }

      option {
        padding: 1rem 0;
      }
    }

    textarea {
      width: 100%;
      height: 10rem;
      resize: none;
      padding: 1rem;
      border: 0;
      border-radius: 0.25rem;

      background: var(--gray-900);
      color: var(--white);

      &:focus {
        border: 1px solid var(--yellow-500);
      }
    }

    button[type="submit"] {
      width: 100%;
      padding: 0 1.5rem;
      height: 3rem;
      background: var(--yellow-800);
      color: var(--shape);
      border-radius: 0.25rem;
      border: 0;
      font-size: 1rem;
      margin-top: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.25rem;
    
      transition: filter 0.2s;
    
      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}