.wall {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  margin-bottom: 2rem;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .categories {
    width: 20rem;
    padding: 0 1rem;
    height: 3rem;

    border: 1px solid var(--gray-900);
    border-radius: 0.25rem;
    background-color: var(--gray-800);

    font-weight: 400;
    font-size: 1rem;
    color: var(--white);

    &:focus {
      border-color: var(--yellow-500);
    }

    option {
      padding: 1rem 0;
    }
  }
}

.new {
  width: 11rem;
  padding: 0 1rem;
  height: 3rem;
  background: var(--blue);
  color: var(--shape);
  border-radius: 0.35rem;
  border: 0;
  font-size: 1rem;
  letter-spacing: 0.15rem;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}

.container {
  width: 100%;
  max-width: 60rem;
}