.headerConteiner {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 1rem;
    }
  }

  button {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 3rem;
    background: var(--yellow-700);
    color: var(--shape);
    border-radius: 5rem;
    text-align: center;
    border: 0;
    font-size: 1rem;
    font-weight: 400;
  
    transition: filter 0.2s;
  
    &:hover {
      filter: brightness(0.8);
    }
  }
}