.container {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;

  border-radius: 0.75rem;
  background-color: var(--gray-800);

  & + div {
    margin-top: 2rem;
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    margin: 0;
    padding: 0;
    margin-right: 1.5rem;
  }

  svg {
    cursor: pointer;

    &:hover {
      color: var(--blue);
    }
  }
}

.title {
  color: var(--yellow-500);
  margin: 1.5rem 0 2.5rem;
}